<!DOCTYPE html>
<html>
  <head>
    <title>Home | Insta_clone</title>
  </head>
  <body>
    <script>
      FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
    </script>
    <% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="col-md-8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    <% else %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" 
      src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v5.0&appId=306835590230609&autoLogAppEvents=1">
      </script>
           
      <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" 
      data-auto-logout-link="false" data-use-continue-as="true">
      </div>
      
      <div id ="center">
        <h1>Insta_clone</h1>
        <p>友達の写真や動画をチェックしよう</p>
        <p>
        <% @user = User.new %>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
            <%= form_for(@user) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
            
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
              
              <%= f.label :full_name %>
              <%= f.text_field :full_name, class: 'form-control' %>
              <%= f.label :user_name %>
              <%= f.text_field :user_name, class: 'form-control' %>
        
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
        
              <%= link_to "登録する", root_path, class: "btn btn-lg btn-primary" %>
            <% end %>
          </div>
        </div>
        <p>
          登録することで、Facebookの利用規約、データに関するポリシー、Cookieポリシーに同意するものとします。
        </p>
      </div>
    <% end %>
  </body>
</html>