<% provide(:title, "Log in") %>
<h1>Insta_clone</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>または</p>
    <p>Facebookでログイン</p>
    <p>パスワードを忘れた場合</p>

    <p>アカウントをお持ちでないですか? <%= link_to "登録する", root_path %></p>
  </div>
</div>
