<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.user_name, user %>
  <!--管理者にのみdelete リンクが見える-->
  <!--Delete を使うにはJavascript を有効にする必要あり-->
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %>
</li>