<% if @search_microposts.any? %>
  <ul>
    <% @search_microposts.each do |micropost| %>
      <%= micropost.content %>
      <%= micropost.picture %>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% @microposts.each do |micropost| %>
      <%= micropost.content %>
      <%= micropost.picture %>
    <% end %>
  </ul>
<% end %>