<!--search_form_forはform_forのRansack版-->
<!--https://qiita.com/fukuda_fu/items/58e3b5d9a776d98a62de-->
    <%= search_form_for @search, url:microposts_path do |f| %>]
      <div class="actions_small">
        <%= f.label :picture_cont, "画像に関するキーワード" %>
        <%= f.text_field :picture_cont %>
        <%= f.submit ("検索する"), class: "btn btn-primary" %>
      </div>
    <% end %>