<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.like?(@micropost) %>
      <%= render 'not_like' %>
    <% else %>
      <%= render 'like' %>
    <% end %>
  </div>
<% end %>