<% provide(:title, 'Microposts') %>
<h1>Microposts</h1>

<%= will_paginate %>

<ol class="microposts">
  <% if @search_microposts %>
    <%= render @search_microposts %>
    <!--= render 'shared/micropost', collection: @search_microposts %>-->
  <% else %>
    <%= render @microposts %>
    <!--= render 'shared/micropost', collection: @microposts %>-->
  <% end %>
</ol>

<%= will_paginate %>