<footer class="footer">
  <div>
    <li><%= link_to "トップページ",   root_path %></li>
    <!--by <a href="http://www.michaelhartl.com/">Michael Hartl</a>-->
  </div>
  <% if logged_in? %>
    <div class ="actions">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
  <% end %>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Support", support_path %></li>
      <li><%= link_to "Recruit", recruit_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>
      <li><%= link_to "Term   ", term_path %></li>
      <li><%= link_to "Language",language_path %></li>
    </ul>
  </nav>
</footer>