<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 306835590230609,
          cookie     : true,
          xfbml      : true,
          version    : v5.0
        });
          
        FB.AppEvents.logPageView();   
          
      };
    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <%= render 'layouts/header' %>
    <!--binding.pry -->
    <%= search_form_for @search, url:microposts_path do |f| %>]
      <div class="actions_small">
        <%= f.label :content_cont, "投稿に関するキーワード" %>
        <%= f.text_field :content_cont %>
        <%= f.label :picture_cont, "画像に関するキーワード" %>
        <%= f.text_field :picture_cont %>
        <%= f.submit ("検索する"), class: "btn btn-primary" %>
      </div>
    <% end %>
    
    <div class="container">
      <!--flashの書式を場合分けして設定-->
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <p class="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
